/* styles.css */
/* body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin:  4em;
    text-decoration: none;
    
}

main {
    padding: 1em;
}

#task-list, #add-task {
    margin: 2em 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5em 0 0.2em;
}

input, textarea, select {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.7em;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* li {
    float: left;
  } */
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .table-responsive {
    max-height: 200px; /* Adjust based on how many rows you expect */
    overflow-y: auto; /* Scroll if it exceeds max-height */
  }
  