{% extends 'base.html' %}


{% block content %}
<h1>Your Task</h1>
  <div class="form-group">
      <div class="row g-3">
        <div class="col-sm-7">
          <form method="post" >  
            {% csrf_token %}

            {{form.as_p}}
            {% if form.instance.id %}
              <button type="submit" name = "save" value="{{ form.instance.id }}" >Update</button> 
            {% else %}
              <button type="submit" name = "save" >Save</button> 
            {% endif %}

        </form>
      </div>
    </div>
  </div>
{% endblock %}