{% extends 'base.html' %}


{% block content %}
<h1>Your Task</h1>
  <div class="form-group">
      <div class="row g-3">
        <div class="col-sm-7">
          <form method="post" >  
            {% csrf_token %}
            <div   class="text-reset>
              {{form.as_p}}
            </div>
            {% if form.instance.id %}
              <button class="btn btn-primary" type="submit"  name = "save" value="{{ form.instance.id }}" >Update</button> 
            {% else %}
              <button class="btn btn-success" type="submit" name = "save" >Save</button> 
            {% endif %}

        </form>
      </div>
    </div>
  </div>



{% endblock %}