{% extends 'base.html' %}

{% block content %}
    <h1>Tasks page</h1>
    <form method="POST" action="{% url 'tasks' %}">

    <table class="table table-dark table-striped">
        <tr><th>Title</th><th>Description</th>
            <th>Due date</th><th>Action</th>
        </tr>


        {% for task in tasks%}
            <tr>
                <td>{{task.title}}-- {{task.id}}</td>
                <td>{{task.description}}</td>
                <td>{{task.due_date}}</td>
                <td>
                    
                        {% csrf_token %}
                        <button type="submit" name = "edit" value="{{task.id}}">Edit</button>

                    
                    {% csrf_token %}
                    <button name = "delete" value="{{task.id}}" >Delete</button>

                </td>

            </tr>
        {% endfor %}
    </table>
    </form>
    <p>{{error}}</p>
    <div class="container-fluid" >

    <div class="position-relative">
    <div class="position-absolute bottom-0 start-50 translate-middle-x"></div>
    <a href = "{% url 'home'%}">Home page</a>
    
    <form method="POST" action="{% url 'save' %}">
        {% csrf_token %}
        <button type="submit" name = "task">Add Task</button>
    </form>
    </div>
    </div>
{% endblock %}